<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://kit.fontawesome.com/23fdf0a18e.js" crossorigin="anonymous"></script>
</head>
<body class="home">
    <div style="color: white; background-color: black; display: flex; justify-content: center; font-size: xx-large;">
    {% for msg in messages %}
       {{msg}}
    {% endfor %}
</div>
    <div class="navbar">
        <div class="dropdown" style=" 
        padding: 12px 16px;
        text-decoration: none;
        display: block;" >
            <i class="fa-solid fa-bars fa-2x" class="dropbtn"></i>
            <div class="dropdown-content">
              <a href="organiseevent"   style=" color: black; 
              padding: 12px 16px;
              text-decoration: none;
              display: block;">Organise Event</a>
              <a href="logoutUser" style="   color: black;
              padding: 12px 16px;
              text-decoration: none;
              display: block;" >Logout</a>
            </div>
          </div>
      <h1>Welcome {{username}} </h1>
    
    </div>
    <div class="body">
    <h1 >Today's Events:</h1>
    <br>
    {% if Events %}
    <ul  class="list">
        {% for Event in Events %}
        <div style="width: 33%; margin-bottom: 2em;"><li class="list-item" style="width: auto;">
        <form action=" {% url 'tickets' Event.id %}">
            
            {{Event.EventName}} <br>
            Event Venue : {{Event.EventVenue}} <br>
               {{Event.EventDescription}} <br> <br>
            Time : {{Event.EventTime}} <br> <br>
            Available Tickets : {{Event.EventAvailableTickets}} <br><br>
            <input type="submit" class="BuyButton" value="Buy Tickets"  data-EventName ="{{Event.EventName}}" style=" width: 100%; height: 40px; background-color: black; color: white; cursor: pointer;">
         </form> 
        </li> </div>
        {% endfor %}           
    </ul>
    {% else  %}
    <p>No Events Today</p>
    {% endif %}
</div>
    <footer style="background-color: rgb(245, 245, 245,0.2); color: black; height: 50px; display: flex; justify-content: center; align-items: center;">
        <a href="https://www.instagram.com/_the.nikhil.b_/?hl=en" style="text-decoration: none; display: flex; align-items: center; color: black; " target="_blank"> Designed by :<i class="fa-brands fa-instagram fa-3x"></i></a>
    </footer>
</body>
</html>